.aboutme {
  width: 100%;
  background-color: $darkBlue;
  color: white;
  padding: $sidePadding;

  &_container {
    display: grid;
    grid-template-columns: 50% auto;
    gap: 10em;

    h2 {
      color: white;
    }

    img {
    }
    .skills {
      font-weight: 600;
      background-color: $pink;
      padding: 5px;
      margin-right: 20px;
    }

    p {
      color: white;
    }
  }
}
