.contact {
  padding: 0 14em 0 14em; //top right bottom left
  background-color: $purple;

  h2,
  p {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
  }
  &_icons {
    display: flex;
    justify-content: center;
  }
}
