.projects{
    padding: 0 20em 0 20em; //top right bottom left 

    h2{
       display: block;
       margin: 0 auto;
    }
    .projects_container{
        display: grid;
        grid-template: repeat(3, 1fr) / 50% 50%;
        row-gap: 4em;
    
    
    &_button{
        height: 55px;
        width: 260px;
        color: white;
        font-size: 2rem;
        border-radius: 10px;
       box-shadow: 5px 4px 8px 0px rgba(0,0,0, .6);
        background-color: $purple;
        
        a{
            color: white;
        }
    }
}
}