html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background-color: #F9F9F9;
}

h1, h2 {
  margin: 0;
  font-family: 'Merriweather', serif;
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;
  color: #00D9C0;
}

p {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.btn {
  border: none;
  cursor: pointer;
}

.header {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10em 0 20em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.125em;
}

.header_logo_container {
  height: 3.625em;
  width: 3.625em;
}

.header nav {
  float: right;
}

.header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header nav ul a {
  display: block;
  padding: 0 2.5em;
  color: black;
}

.header nav ul a:hover {
  color: #00D9C0;
}

.header nav ul a:active {
  color: #998AF8;
}

.hero {
  padding: 0 20em 0 20em;
}

.hero_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% auto;
      grid-template-columns: 60% auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero h1 {
  margin-bottom: .5em;
  font-size: 3.75rem;
}

.hero h1 span {
  color: #00D9C0;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 3em;
}

.hero_button {
  height: 55px;
  width: 260px;
  color: white;
  font-size: 2rem;
  border-radius: 10px;
  -webkit-box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.23);
          box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.23);
  background-color: #998AF8;
}

.hero_button a {
  color: white;
}

.hero_button:hover {
  opacity: .8;
}

.hero_arrow {
  margin: 0 auto;
  display: block;
}

.aboutme {
  width: 100%;
  background-color: #998AF8;
  color: white;
  padding: 0 20em 0 20em;
}

.aboutme_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% auto;
      grid-template-columns: 50% auto;
  gap: 10em;
  font-size: 1rem;
}

.aboutme_container h2 {
  padding-top: 1em;
  margin-bottom: 2em;
}

.aboutme_container img {
  margin-bottom: 5em;
}

.aboutme_container p {
  padding-bottom: 2em;
}

.aboutme_container ul {
  font-size: 1.5rem;
}

.projects {
  padding: 0 20em 0 20em;
}

.projects img {
  height: 250px;
  width: 250px;
}

.projects h2 {
  text-align: center;
  margin: 4em;
}

.projects h3 {
  color: #00D9C0;
  font-size: 2rem;
}

.projects p {
  margin-bottom: 3em;
}

.projects .projects_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
  -ms-grid-columns: 50% 50%;
      grid-template: repeat(3, 1fr)/50% 50%;
  row-gap: 4em;
}

.projects .project_button {
  height: 40px;
  width: 200px;
  margin: 5px;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.3);
  background-color: #998AF8;
}

.projects .project_button a {
  color: white;
}

.contact {
  padding: 0 20em 0 20em;
  background-color: #998AF8;
}

.contact h2,
.contact p {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 1em;
}

.contact form {
  text-align: center;
}

.contact form button {
  color: white;
  background-color: #00D9C0;
}
/*# sourceMappingURL=style.css.map */