html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fafafa;
}

h1,
h2 {
  margin: 0;
  font-family: "Merriweather", serif;
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;
  color: #00d9c0;
}

p {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.btn {
  border: none;
  cursor: pointer;
}

.arrow_animation {
  -webkit-animation: bounce 2s infinite;
          animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

.header {
  width: 100%;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 14em 0 14em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.125em;
  background-color: white;
}

.header_logo_container {
  height: 3em;
  width: 3em;
}

.header nav {
  float: right;
}

.header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header nav ul a {
  display: block;
  padding: 0 2.5em;
  color: black;
}

.header nav ul a:hover {
  color: #00d9c0;
}

.header nav ul a:active {
  color: #998af8;
}

.hero {
  padding: 0 14em 0 14em;
}

.hero_container {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  padding-top: 14em;
  height: 95vh;
}

.hero h1 {
  margin-bottom: 0.5em;
  font-size: 3.75rem;
}

.hero h1 span {
  color: #00d9c0;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 3em;
}

.hero_arrow {
  margin-bottom: 1em;
}

.aboutme {
  width: 100%;
  background-color: #998af8;
  color: white;
  padding: 0 14em 0 14em;
}

.aboutme_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% auto;
      grid-template-columns: 50% auto;
  gap: 10em;
  font-size: 1rem;
}

.aboutme_container h2 {
  padding-top: 1em;
  margin-bottom: 2em;
}

.aboutme_container img {
  margin-bottom: 5em;
}

.aboutme_container p {
  padding-bottom: 2em;
}

.aboutme_container ul {
  font-size: 1.5rem;
}

.projects {
  padding: 0 20em 0 20em;
}

.projects img {
  height: 250px;
  width: 250px;
}

.projects h2 {
  text-align: center;
  margin: 4em;
}

.projects h3 {
  color: #00d9c0;
  font-size: 2rem;
}

.projects p {
  margin-bottom: 3em;
}

.projects .projects_container {
  display: -ms-grid;
  display: grid;
  justify-items: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: (1fr)[3];
  -ms-grid-columns: 50% 50%;
      grid-template: repeat(3, 1fr)/50% 50%;
  row-gap: 4em;
  -webkit-column-gap: 4em;
          column-gap: 4em;
}

.projects .projects_container .project_button {
  height: 40px;
  width: 200px;
  margin: 5px;
  font-size: 20px;
  background-color: white;
  color: #998af8;
  border: 2px solid #998af8;
  border-radius: 4px;
  -webkit-box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.3);
}

.projects .projects_container .project_button a {
  color: #998af8;
}

.projects .projects_container .project_button:hover {
  background-color: #998af8;
}

.projects .projects_container .project_button:hover a:hover {
  color: white;
}

.contact {
  padding: 0 14em 0 14em;
  background-color: #998af8;
}

.contact h2,
.contact p {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 1em;
}

.contact_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */